# Checkpoint Two: Exploratory Data Analysis

Now that your chosen dataset is approved, it is time to start working on your analysis. Use this notebook to perform your EDA and make notes where directed to as you work.

## Getting Started

Since we have not provided your dataset for you, you will need to load the necessary files in this repository. Make sure to include a link back to the original dataset here as well.

My dataset:

Your first task in EDA is to import necessary libraries and create a dataframe(s). Make note in the form of code comments of what your thought process is as you work on this setup task.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Get to Know the Numbers

Now that you have everything setup, put any code that you use to get to know the dataframe and its rows and columns better in the cell below. You can use whatever techniques you like, except for visualizations. You will put those in a separate section.

When working on your code, make sure to leave comments so that your mentors can understand your thought process.

In [2]:
df = pd.read_csv('Gender-Science_IAT.public.2020.csv')
df.head()

,session_id,session_status,study_name,date,month,day,year,hour,weekday,birthmonth,...,sius003,sius004,sius005,sius006,sius007,sius008,sius009,sius010,sius011,sius012
0,2643542376,C,Demo.GenderScience.0003,1/1/2020 0:00:16,1,1,2020,0.0,4.0,4,...,,,,,,,,,,
1,2643542453,,Demo.GenderScience.0003,1/1/2020 0:36:15,1,1,2020,0.0,4.0,,...,,,,,,,,,,
2,2643542545,,Demo.GenderScience.0003,1/1/2020 1:28:05,1,1,2020,1.0,4.0,,...,,,,,,,,,,
3,2643542546,,Demo.GenderScience.0003,1/1/2020 1:28:35,1,1,2020,1.0,4.0,,...,,,,,,,,,,
4,2643542547,,Demo.GenderScience.0003,1/1/2020 1:29:06,1,1,2020,1.0,4.0,,...,,,,,,,,,,

In [3]:
#Replacing the empty spaces with NaN to calculate percentage of missing values.

df.replace(r'^\s*$', np.nan, regex=True, inplace = True)
for col in df.columns:
    pct_missing = np.mean(df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

session_id - 0%
session_status - 52%
study_name - 0%
date - 0%
month - 0%
day - 0%
year - 0%
hour - 0%
weekday - 0%
birthmonth - 38%
birthyear - 41%
num_002 - 38%
birthSex - 37%
raceomb_002 - 44%
raceombmulti - 97%
ethnicityomb - 43%
edu - 41%
edu_14 - 41%
D_biep.Male_Science_all - 37%
Mn_RT_all_3467 - 37%
N_3467 - 37%
PCT_error_3467 - 37%
Order - 37%
Side_Science_34 - 37%
Side_Male_34 - 37%
pct_300 - 37%
pct_400 - 37%
pct_2K - 37%
pct_3K - 37%
pct_4K - 37%
arts - 38%
science - 38%
larts_7 - 38%
lscience_7 - 38%
factorability - 42%
factordiscrimination - 42%
factorencouragement - 42%
factorfamily - 42%
factorhighpower - 42%
factorinterest - 42%
genderIdentity - 37%
goal1 - 40%
goal2 - 40%
ran9thboys - 41%
ran9thgirls - 41%
D_biep.Male_Science_36 - 37%
D_biep.Male_Science_47 - 37%
Mn_RT_all_3 - 37%
Mn_RT_all_4 - 37%
Mn_RT_all_6 - 37%
Mn_RT_all_7 - 37%
SD_all_3 - 37%
SD_all_4 - 37%
SD_all_6 - 37%
SD_all_7 - 37%
N_3 - 37%
N_4 - 37%
N_5 - 37%
N_6 - 37%
N_7 - 37%
Mn_RT_correct_3 - 37%
Mn_RT_correct_4 - 37%
Mn_RT_correct_6 - 37%
Mn_RT_correct_7 - 37%
SD_correct_3 - 37%
SD_correct_4 - 37%
SD_correct_6 - 37%
SD_correct_7 - 37%
N_ERROR_3 - 37%
N_ERROR_4 - 37%
N_ERROR_6 - 37%
N_ERROR_7 - 37%
countrycit_num - 40%
countryres_num - 40%
occuSelf - 46%
occuSelfDetail - 58%
politicalid_7 - 40%
STATE - 61%
MSANo - 61%
CountyNo - 61%
MSAName - 61%
religion2014 - 40%
religionid - 39%
iatevaluations001 - 57%
iatevaluations002 - 57%
iatevaluations003 - 57%
broughtwebsite - 61%
user_id - 0%
previous_session_id - 57%
previous_session_schema - 57%
deathanxiety001 - 86%
deathanxiety002 - 86%
deathanxiety003 - 86%
deathanxiety004 - 86%
deathanxiety005 - 86%
deathanxiety006 - 86%
deathanxiety007 - 86%
deathanxiety008 - 86%
deathanxiety009 - 86%
deathanxiety010 - 86%
deathanxiety011 - 86%
deathanxiety012 - 86%
deathanxiety013 - 86%
deathanxiety014 - 86%
deathanxiety015 - 86%
fearcovid001 - 86%
fearcovid002 - 86%
fearcovid003 - 86%
fearcovid004 - 86%
fearcovid005 - 86%
fearcovid006 - 86%
fearcovid007 - 86%
fearcovid008 - 86%
pvd001 - 87%
pvd002 - 87%
pvd003 - 87%
pvd004 - 87%
pvd005 - 87%
pvd006 - 87%
pvd007 - 87%
pvd008 - 87%
pvd009 - 87%
pvd010 - 87%
pvd011 - 87%
pvd012 - 87%
pvd013 - 87%
pvd014 - 87%
pvd015 - 87%
sius001 - 86%
sius002 - 86%
sius003 - 86%
sius004 - 86%
sius005 - 86%
sius006 - 86%
sius007 - 86%
sius008 - 86%
sius009 - 86%
sius010 - 86%
sius011 - 86%
sius012 - 87%

When a session was completed, it was given a "C" for completion. When it was not completed, it was left empty. Because 
we calculated the percentage of missing (or empty) values for each column, we know that 52% of people did not complete
the test. 

The "D_biep.Male_Science_all" column contains the IAT scores. Only 37% of the scores are missing, which is interesting because 52% of the participants did not complete the study. Maybe completion of the whole study is not needed to determine the IAT score? There are survey questions at the end of the study, so maybe this portion of the test determined whether the participant completed the study.

(I just realized this) Looking at the data dictionary, we can see that "D_biep.Male_Science_36" and "D_biep.Male_Science_47" represent the IAT for specific blocks in the study. When a participant completes a block in the study, an IAT score is generated. Only 37% of the "D_biep.Male_Science_36" and "D_biep.Male_Science_47" are missing values, and this seems to correlate with the 37% missing values in the "D_biep.Male_Science_all" column.

In [4]:
df.describe()

,session_id,month,day,year,hour,weekday,user_id
count,1.107240e+05,110724.000000,110724.000000,110724.000000,110723.000000,110723.000000,1.107230e+05
mean,2.645368e+09,3.535421,15.532730,2019.981937,13.551367,3.904338,2.908148e+05
std,1.286321e+06,1.831973,8.765753,6.010479,7.060249,1.708363,1.780973e+06
min,2.643542e+09,1.000000,1.000000,20.000000,0.000000,1.000000,-1.000000e+00
25%,2.644314e+09,2.000000,8.000000,2020.000000,8.000000,3.000000,-1.000000e+00
50%,2.645127e+09,3.000000,15.000000,2020.000000,16.000000,4.000000,-1.000000e+00
75%,2.646052e+09,5.000000,23.000000,2020.000000,19.000000,5.000000,-1.000000e+00
max,2.648229e+09,6.000000,31.000000,2020.000000,23.000000,7.000000,1.130873e+07

One interesting observation from this table is that the data was only collected for 6 months. Besides that observation, this table isn't really helpful because we don't need summary statistics for these columns. The fact that summary statistics were only calculated for these columns when there are more columns containing numerical data means that we have to convert multiple columns during the data cleaning process.

In [30]:
#Mainly looking at data type for each column
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110724 entries, 0 to 110723
Data columns (total 140 columns):
 #    Column                   Non-Null Count   Dtype
---   ------                   --------------   -----
 0    session_id               110724 non-null  float64
 1    session_status           53580 non-null   object
 2    study_name               110724 non-null  object
 3    date                     110724 non-null  object
 4    month                    110724 non-null  float64
 5    day                      110724 non-null  float64
 6    year                     110724 non-null  float64
 7    hour                     110723 non-null  float64
 8    weekday                  110723 non-null  float64
 9    birthmonth               68167 non-null   object
 10   birthyear                65413 non-null   object
 11   num_002                  68407 non-null   object
 12   birthSex                 70002 non-null   object
 13   raceomb_002              62334 non-null   object
 14   raceombmulti             3362 non-null    object
 15   ethnicityomb             63645 non-null   object
 16   edu                      65607 non-null   object
 17   edu_14                   65607 non-null   object
 18   D_biep.Male_Science_all  69921 non-null   object
 19   Mn_RT_all_3467           69921 non-null   object
 20   N_3467                   69921 non-null   object
 21   PCT_error_3467           69921 non-null   object
 22   Order                    69921 non-null   object
 23   Side_Science_34          69921 non-null   object
 24   Side_Male_34             69921 non-null   object
 25   pct_300                  69921 non-null   object
 26   pct_400                  69921 non-null   object
 27   pct_2K                   69921 non-null   object
 28   pct_3K                   69921 non-null   object
 29   pct_4K                   69921 non-null   object
 30   arts                     68631 non-null   object
 31   science                  68726 non-null   object
 32   larts_7                  68393 non-null   object
 33   lscience_7               68412 non-null   object
 34   factorability            64492 non-null   object
 35   factordiscrimination     64492 non-null   object
 36   factorencouragement      64492 non-null   object
 37   factorfamily             64492 non-null   object
 38   factorhighpower          64492 non-null   object
 39   factorinterest           64492 non-null   object
 40   genderIdentity           70002 non-null   object
 41   goal1                    66822 non-null   object
 42   goal2                    66822 non-null   object
 43   ran9thboys               65248 non-null   object
 44   ran9thgirls              65248 non-null   object
 45   D_biep.Male_Science_36   69921 non-null   object
 46   D_biep.Male_Science_47   69921 non-null   object
 47   Mn_RT_all_3              69921 non-null   object
 48   Mn_RT_all_4              69921 non-null   object
 49   Mn_RT_all_6              69921 non-null   object
 50   Mn_RT_all_7              69921 non-null   object
 51   SD_all_3                 69921 non-null   object
 52   SD_all_4                 69921 non-null   object
 53   SD_all_6                 69921 non-null   object
 54   SD_all_7                 69921 non-null   object
 55   N_3                      69921 non-null   object
 56   N_4                      69921 non-null   object
 57   N_5                      69921 non-null   object
 58   N_6                      69921 non-null   object
 59   N_7                      69921 non-null   object
 60   Mn_RT_correct_3          69921 non-null   object
 61   Mn_RT_correct_4          69921 non-null   object
 62   Mn_RT_correct_6          69921 non-null   object
 63   Mn_RT_correct_7          69921 non-null   object
 64   SD_correct_3             69921 non-null   object
 65   SD_correct_4             69921 non-null   object
 66   SD_correct_6             69921 non-null   object
 67   SD_correct_7             69921 non-null   object
 68   N_ERROR_3                69921 non-null   object
 69   N_ERROR_4                69921 non-null   object
 70   N_ERROR_6                69921 non-null   object
 71   N_ERROR_7                69921 non-null   object
 72   countrycit_num           66383 non-null   object
 73   countryres_num           66189 non-null   object
 74   occuSelf                 59540 non-null   object
 75   occuSelfDetail           46895 non-null   object
 76   politicalid_7            66520 non-null   object
 77   STATE                    43373 non-null   object
 78   MSANo                    43373 non-null   object
 79   CountyNo                 43373 non-null   object
 80   MSAName                  43373 non-null   object
 81   religion2014             66767 non-null   object
 82   religionid               67055 non-null   object
 83   iatevaluations001        47757 non-null   object
 84   iatevaluations002        47600 non-null   object
 85   iatevaluations003        47573 non-null   object
 86   broughtwebsite           43377 non-null   object
 87   user_id                  110723 non-null  float64
 88   previous_session_id      47641 non-null   object
 89   previous_session_schema  47651 non-null   object
 90   deathanxiety001          15455 non-null   object
 91   deathanxiety002          15398 non-null   object
 92   deathanxiety003          15393 non-null   object
 93   deathanxiety004          15364 non-null   object
 94   deathanxiety005          15299 non-null   object
 95   deathanxiety006          15310 non-null   object
 96   deathanxiety007          15302 non-null   object
 97   deathanxiety008          15337 non-null   object
 98   deathanxiety009          15286 non-null   object
 99   deathanxiety010          15290 non-null   object
 100  deathanxiety011          15296 non-null   object
 101  deathanxiety012          15306 non-null   object
 102  deathanxiety013          15302 non-null   object
 103  deathanxiety014          15213 non-null   object
 104  deathanxiety015          15244 non-null   object
 105  fearcovid001             15203 non-null   object
 106  fearcovid002             15086 non-null   object
 107  fearcovid003             15074 non-null   object
 108  fearcovid004             15048 non-null   object
 109  fearcovid005             15032 non-null   object
 110  fearcovid006             14982 non-null   object
 111  fearcovid007             15020 non-null   object
 112  fearcovid008             15010 non-null   object
 113  pvd001                   14856 non-null   object
 114  pvd002                   14719 non-null   object
 115  pvd003                   14678 non-null   object
 116  pvd004                   14659 non-null   object
 117  pvd005                   14599 non-null   object
 118  pvd006                   14532 non-null   object
 119  pvd007                   14535 non-null   object
 120  pvd008                   14519 non-null   object
 121  pvd009                   14520 non-null   object
 122  pvd010                   14497 non-null   object
 123  pvd011                   14514 non-null   object
 124  pvd012                   14491 non-null   object
 125  pvd013                   14499 non-null   object
 126  pvd014                   14494 non-null   object
 127  pvd015                   14412 non-null   object
 128  sius001                  15069 non-null   object
 129  sius002                  15057 non-null   object
 130  sius003                  15020 non-null   object
 131  sius004                  14991 non-null   object
 132  sius005                  14979 non-null   object
 133  sius006                  14973 non-null   object
 134  sius007                  14965 non-null   object
 135  sius008                  14966 non-null   object
 136  sius009                  14955 non-null   object
 137  sius010                  14964 non-null   object
 138  sius011                  14960 non-null   object
 139  sius012                  14945 non-null   object
dtypes: float64(7), object(133)
memory usage: 118.3+ MB

In [80]:
df['D_biep.Male_Science_all'] = df['D_biep.Male_Science_all'].astype(float)
df['D_biep.Male_Science_all'].round(4).describe()

count    69921.000000
mean         0.290230
std          0.430688
min         -1.843300
25%          0.015800
50%          0.316300
75%          0.595500
max          1.816000
Name: D_biep.Male_Science_all, dtype: float64

"D_biep.Male_Science_all" represents the IAT scores. The IAT scores range from -2 to +2, with -2 representing a strong female-science association and +2 representing a strong male-science association. All scores above +0.65 or below -0.65 indicate a “strong” association. Looking at the statistics above, we can see that the average IAT score was 0.290, which means overall people have a slight inclination to associate men with science. We can also see that the median is slightly greater than the mean, so there might be a left skew.

In [81]:
df['D_biep.Male_Science_all'].round(4).mode()

0    0.5426
dtype: float64

The mode is greater than the median and mean, so there is definitely a skew. (I would have created a box plot but it always resulted in a blank plot, and I couldn't get around that.) This also means that majority of pariticipants show a moderate (not strong) male-science association.

## Visualize

Create any visualizations for your EDA here. Make note in the form of code comments of what your thought process is for your visualizations.

Because most of the data needs to be cleaned and converted into different data types, I won't be able to provide many data visualizations at the moment. For now, I will only clean a few columns to provide some visualizations.

In [71]:
df['birthSex'] = df['birthSex'].astype(float)
df['birthyear'] = df['birthyear'].astype(float)
df['arts'] = df['arts'].astype(float)
df['science'] = df['science'].astype(float)
converted_data = df[['birthSex','birthyear','arts','science','D_biep.Male_Science_all']]
corr_data = converted_data.corr().round(5)
corr_data.style.background_gradient(cmap='coolwarm')

Important Note: "Arts" represents one's attitude towards the arts. "Science" represents one's attitude towards science. Both variables are rated using the Likert scale.

I decided to use these columns for the correlation plot because I suspected that these variables might be correlated, but that was not the case! Maybe in the future, I will find a correlation between different variables after I clean the data.

## Summarize Your Results

With your EDA complete, answer the following questions.

1. Was there anything surprising about your dataset? 
2. Do you have any concerns about your dataset? 
3. Is there anything you want to make note of for the next phase of your analysis, which is cleaning data?

1. I was suprised that there wasn't any correlation between the variables in the correlation plot. I thought we might have seen a gender difference between IAT scores.
2. I am slightly concerned by how much data I have to clean, but I think it is possible. 
3. Most of the columns holding important numerical values are coded as strings, so I am going to have to convert that. Also, there is a good portion of columns that came from the end-of-test survey, but I don't need them (e.g. fear of covid data, perceived vulnerability to disease data, intolerance to uncertainty data).